<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossOrigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />
    <title>PDI - Halaman Registrasi</title>
    <style>
      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    </style>
  </head>
  <body class="font-[Quicksand] bg-slate-950">
    <%- body %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
